<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/header.html :: header('Show Page')">

</head>
<body>

<nav th:replace="partials/navbar.html :: navbar" />


<div>
    <form th:action="@{/posts/{id}/delete(id=${post.id})}" th:method="POST">

        <input type="hidden" name="deleteId" th:value="${post.id}" />
        <input type="submit" value="Delete" />

    </form>

<!--    <a th:href="@{/posts/{id}/delete(id=${post.id})}" class="btn btn-danger">Delete</a>-->

    <p th:text="${post.user.email}"></p>
    <p th:text="${post.title}"></p>
    <p th:text="${post.body}"></p>
</div>




<footer th:replace="partials/footer.html :: footer" />

</body>
</html>