
<footer th:fragment="footer" class="bg-info text-center fixed-bottom">
    <div class="p-4">
        <div class="row d-flex justify-content-center">
            <div class="col-auto">
                <p class="pt-2">
                    <strong>Subscribe here</strong>
                </p>
            </div>
            <div class="col-md-5 col-12">
                <!-- Email input -->
                <div class="form-outline form-white mb-4">
                    <input type="email" id="form5Example21" class="form-control"/>
                    <label class="form-label" for="form5Example21">Email address</label>
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-light mb-4">
                    Subscribe
                </button>
            </div>
        </div>
        <section class="mb-4">
            <p>
                words go here
            </p>
        </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <a class="text-white">title name goes here</a>
    </div>
</footer>
