<nav th:fragment="navbar" class="bg-info navbar navbar-expand " xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/ads">title</a>
        </div>
        <div class="navbar-nav">
            <a class="nav-link" href="/posts">Home</a>
                    <a class="nav-link" href="/roll-dice">roll</a></li>
                    <a class="nav-link" href="/posts/create">create</a></li>

        </div>

    </div>
    <div sec:authorize="isAuthenticated()">
    <ul>
        <!-- More links here... -->
        <li>
            <form th:action="@{/logout}" th:method="post">
                <button class="btn-link btn" style="margin-top: 8px">Logout</button>
            </form>
        </li>
    </ul>
        User ID: <span th:text="${#authentication.principal.id}"/>
        Username: <span th:text="${#authentication.principal.username}"/>
        Email: <span th:text="${#authentication.principal.email}"/>
    </div>
</nav>