<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header.html :: header('dice results')">

</head>
<body>

<nav th:replace="partials/navbar.html :: navbar" />

<h1>Dice Results</h1>
<p>You guessed the number: <span th:text="${n}"></span></p>
<hr>

<div th:each="diceRoll : ${diceRolls}">
    <p>Dice roll: <span th:text="${diceRoll}"></span></p>
    <p>
        <span th:if="${diceRoll == n}">That is correct. GOOD JOB!</span>
        <span th:unless="${diceRoll == n}">Oh no. You are wrong. Sorry.</span>
    </p>
    <hr>
</div>

<div>
    <p>Out of 5 rolls You got <span th:text="${counter}"></span> correct guesses.</p>
</div>

<p class="mb-5">Would you like to <a href="/roll-dice">Roll Again</a>?</p>


<nav th:replace="partials/footer.html :: footer" />

</body>
</html>